
/*.hero { background: url(../img/hero-bg.jpg) no-repeat top center #f4f5fc;  }*/
.navTop {background: none; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 140px; color: #f4f5fc;}
